@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7f7f7;
  color: #111827;
  font-family: Inter, system-ui, Arial, sans-serif;
}

button {
  cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}